.new-password-container {
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;    
}

.new-password-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-content: center;
}

.new-password-form__save-button {
    display: flex;
    justify-content: center;
}
.new-password-form__password {
    display: flex;
    flex-direction: column;
}