<div class="new-password-container">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="confirmPasswordForm"
    class="new-password-form"
  >
    <h1>New Password</h1>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        id="password"
        required
        formControlName="password"
        [errorStateMatcher]="passMismatchErrorStateMatcher"
        matInput
      />
      <mat-error
        *ngIf="confirmPasswordForm.get('password')?.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input
        type="password"
        id="confirmPassword"
        required
        formControlName="confirmPassword"
        matInput
        [errorStateMatcher]="passMismatchErrorStateMatcher"
      />
      <mat-error
        *ngIf="hasPasswordMatchError()"
        class="new-password-form__mismatch-error"
        >Passwords do not match</mat-error
      >
    </mat-form-field>
    <div class="new-password-form__save-button">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!confirmPasswordForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>
