.password-reset-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--mat-sys-level4);
}

.password-reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.password-reset-form__reset-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
