.password-reset-container {
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-content: center;
}

.password-reset-form__reset-button {
    display: flex;
    justify-content: center;
}