.register-container {
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;    
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-content: center;
}

.register-form__register-button {
    display: flex;
    justify-content: center;
}
.register-form__password {
    display: flex;
    flex-direction: column;
}