.register-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--mat-sys-level4);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.register-form__password {
  display: flex;
  flex-direction: column;
}

.register-form__register-button {
  display: flex;
  justify-content: center;
}

.error-message {
  background-color: var(--mat-sys-error);
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.error-message__text {
  color: var(--mat-sys-on-error);
}
