<div class="edit-recipe">
  <div class="edit-recipe__header">
    <h1>Edit {{ this.recipe().name }}</h1>
  </div>
  <mat-divider></mat-divider>
  <form>
    <div class="edit-recipe__basic-info">
      <h2>Basic Info</h2>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          id="recipeName"
          required
          matInput
          formControlName="name"
          value="{{ this.recipe().name }}"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input
          type="text"
          id="recipeUrl"
          matInput
          formControlName="url"
          value="{{ this.recipe().url }}"
        />
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="edit-recipe__ingredients">
        <div class="edit-recipe__ingredients-header">
          <h2>Ingredients</h2>
        </div>
        <div class="edit-recipe__ingredient-form">
          <form [formGroup]="this.ingredientForm"></form>
        </div>
        <div class="edit-recipe__ingredients-list">
          @for (item of recipe().recipeIngredients; track item.key) {
          {{ item.ingredient.name }} - {{ item.quantity }} --
          {{ item.ingredient.units }}
          }
        </div>
      </div>
      <mat-divider></mat-divider>
      <h2>Tags</h2>
      <div class="edit-recipe__actions">
        <button
          mat-raised-button
          color="primary"
          (click)="onSave()"
          type="button"
        >
          Save
        </button>
        <button (click)="onCancel()" mat-raised-button color="warn">
          cancel
        </button>
      </div>
    </div>
  </form>
</div>
