<div class="edit-recipe">
  <div class="edit-recipe__header">
    <h1>Edit {{ this.recipe().name }}</h1>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="this.recipeForm" (submit)="onRecipeSave()">
    <div class="edit-recipe__basic-info">
      <h2>Basic Info</h2>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          id="recipeName"
          required
          matInput
          formControlName="recipeName"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input
          type="text"
          id="recipeUrl"
          matInput
          formControlName="recipeUrl"
        />
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="edit-recipe__ingredients">
        <div class="edit-recipe__ingredients-header">
          <h2>Ingredients</h2>
        </div>
        <div class="edit-recipe__ingredient-form">
          <form [formGroup]="ingredientForm" (submit)="onAddIngredient()">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                formControlName="ingredientName"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input
                matInput
                required
                formControlName="ingredientQuantity"
                type="number"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Units</mat-label>
              <input
                matInput
                formControlName="ingredientUnits"
                type="text"
                required
              />
            </mat-form-field>
            <button
              type="submit"
              mat-mini-fab
              color="primary"
              [disabled]="this.ingredientForm.invalid"
            >
              <mat-icon>add</mat-icon>
            </button>
          </form>
        </div>
        <div class="edit-recipe__ingredients-list">
          @for (item of recipe().recipeIngredients; track item.key) {
          {{ item.ingredient.name }} - {{ item.quantity }} --
          {{ item.ingredient.units }}
          }
        </div>
      </div>
      <mat-divider></mat-divider>
      <h2>Tags</h2>
      <div class="edit-recipe__actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="this.recipeForm.invalid"
        >
          Save
        </button>
        <button (click)="onCancel()" mat-raised-button color="warn">
          cancel
        </button>
      </div>
    </div>
  </form>
</div>
