mat-card {
    margin-top: 1em;
}
.recipe-form {
    display: flex;
    flex-direction: column;
}
.recipe-form__basic-info{
    display: flex;
    flex-direction: column;
}
.recipe-form > mat-divider {
    margin-bottom: 1em;
}

.recipe-form__ingredients {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.recipe-form__ingredients > mat-form-field {
    width: 25%;
}

.recipe-form__ingredient-list {
    margin-bottom: 1.5em;
}
.recipe-form__controls {
    display: flex;
    flex-direction: row;
    gap: 1em;
}