<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
  <h1>Login</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" id="email" required formControlName="email" matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      id="password"
      required
      formControlName="password"
      matInput
    />
  </mat-form-field>
  <div class="login-form__login-button">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!loginForm.valid"
      class="login-form__login-button"
    >
      Login
    </button>
  </div>
  <div class="login-form__register mat-caption">
    Don't have an account? <a routerLink="../register">Please Register</a>
  </div>
</form>
