<form [formGroup]="recipeIngredientForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name"
      value="{{ this.recipeIngredient.ingredient.name }}"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input
      matInput
      formControlName="quantity"
      value="{{ this.recipeIngredient.quantity }}"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Units</mat-label>
    <input
      matInput
      formControlName="units"
      value="{{ this.recipeIngredient.ingredient.units }}"
    />
  </mat-form-field>
</form>
