<form (ngSubmit)="onSubmit()" [formGroup]="ingredientForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      type="text"
      id="ingredientName"
      required
      formControlName="name"
      matInput
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>quantity</mat-label>
    <input
      type="number"
      id="ingredientQuantity"
      formControlName="quantity"
      matInput
    />
  </mat-form-field>
  <button
    mat-icon-button
    color="primary"
    type="submit"
    [disabled]="ingredientForm.invalid"
  >
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>close</mat-icon>
  </button>
</form>
